table, td {
    border: 1px solid black;
    /*border-collapse: collapse; borda colapsem em uma unica borda*/
}

table{
    width: 300px; /*largura*/
    height: 100px; /*altura*/
}

td{
    border-radius: 20px;/*borda arredondada*/
}


.linha2{
background-color: #106464;
}